
{% extends "primer3/base.html" %} 
 {% block content %}
 <style>
 p{
    text-indent:2em;    /*每个P段落，首行空出两个空格，即缩进两个字符*/
}
 </style>
<title>PrimerDesigner&trade;软件使用手册</title>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        PrimerDesigner&trade;软件使用手册
        </h3>
    </div>
    <div class="panel-body">
<div class="embed-responsive embed-responsive-16by9">
<center>
<embed src="../site_medias/pdf/Python-primer3-manulbookv1.pdf" />
</center>
</div>

</div>
    
   <div class="panel-footer"><center><em>文档阅读器V1.0</em></center></div>
</div>
 {% endblock %}